
@{
    var obj = ViewData["Customer"] as Wipro_MVC_Customer_02nd.Models.Customer;
}
<h2>@obj.CustomerID</h2>
<h2>@obj.CustomerName</h2>
<h2>@obj.CustomerGender</h2>
<h2>@obj.CustomerContact</h2>
<h2>@obj.CustomerAddress</h2>
<h2>@obj.CustomerEmail</h2>
<h2>@obj.CustomerAge</h2>
