@model ArithmeticHuman

<h1>Human Data</h1>

<h2>@Model.HumanData.HumanID</h2>
<h2>@Model.HumanData.HumanName</h2>
<h2>@Model.HumanData.HumanCity</h2>

<h1>Arithmetic Data</h1>

<h2>@Model.ArithmeticData.Addition</h2>
<h2>@Model.ArithmeticData.Subtraction</h2>
<h2>@Model.ArithmeticData.Multiplication</h2>