@model MVC_Practice_Car.Models.Car;
<html>

   
    <body>
        <h2>@Model.Engine1.TypeOfEngine</h2>
        <h2>@Model.Engine1.NoOfCylinders</h2>
        <h2>@Model.Engine1.Torque</h2>
        
        

        <h2>@Model.BrakingSystem1.TypeOfBrake</h2>
        <h2>@Model.BrakingSystem1.NoOfBrakes</h2>
        <h2>@Model.BrakingSystem1.Material</h2>

        <h2>@Model.Transmission1.NoOfGears</h2>
        <h2>@Model.Transmission1.TypeOfTransmission</h2>
        <h2>@Model.Transmission1.GearRatio</h2>


    </body>



</html>